
body {
  font: 10px sans-serif;
    
    font-family: monospace;
}

path.dot {
  stroke-width: 1.5px;
}

circle{
  stroke-width:3px;
  fill:transparent;

}

path{
    cursor:pointer;

}

rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

text{
    -webkit-user-select:none;
    -moz-user-select:none;

}

ul{
    position:absolute;
    left:795px;
    top:80px;
    list-style-type: decimal;

}

li{
    font-size:13px;
}

label.tech{
    position:absolute;
    left:800px;
    top:50px;
    font-size:15px;

}

input{
    border-radius: 3px;
    border: none;
    background-color:#333;
    color:white;
}

.x line, .y line {
  stroke:#abc;
stroke-width:1px;
  shape-rendering: crispEdges;
}
