
body {
  font: 10px sans-serif;
  margin: 0;
    font-family: monospace;
}

path.dot {
  stroke-width: 1.5px;
}

circle{
  stroke-width:3px;
  fill:transparent;

}

path{
    cursor:pointer;

}

rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

text{
    -webkit-user-select:none;
    -moz-user-select:none;

}

ul{
    position:absolute;
    left:795px;
    top:80px;
    list-style-type: decimal;

}

.active{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

div.tech{
    position:absolute;
    border-radius: 7px;
    width:14px;
    height:14px;
    background-color:#fe5533;
}

div.tech:hover{
    opacity: .7;
}

div.tech span{
    position:relative;
    left:17px;pointer-events:none;width:100px;display:block;
    -webkit-user-select:none;
    font-size: 12px;
}

li{
    font-size:13px;
    width:130px;
}

li a{
    float:right;
}

label.tech{
    position:absolute;
    left:800px;
    top:50px;
    font-size:15px;

}

input{
    border-radius: 3px;
    border: none;
    background-color:#333;
    color:white;
}

.x line, .y line {
  stroke:#abc;
stroke-width:1px;
  shape-rendering: crispEdges;
}
